image: python:3.5

stages:
- test

python35:
  image: python:3.5
  stage: test
  script: tox -e py35

python36:
  image: python:3.6
  stage: test
  script: tox -e py36

python37:
  image: python:3.7-rc
  stage: test
  script: tox -e py37

pep8:
  stage: test
  script: tox -e pep8

import_order:
  stage: test
  script: tox -e import_order

coverage:
  stage: test
  script: tox -e coverage
